html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
    perspective: 1200px;
}

.deck .card {
    height: 125px;
    width: 125px;
    color: #ffffff;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.7s;
    position: relative;
    z-index: 9;
}

.front, .back {
    height: 125px;
    width: 125px;
    left: 0%;
    top: 0%;
    position: absolute;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    backface-visibility: hidden;
}

.front {
    background: #2e3d49;
}

.back {
    background: #02b3e4;
    cursor: default;
    font-size: 33px;
    transform: rotateY( 180deg );
}

.front-hidden {
    display: none;
}

.back-visible {
    transform: rotateY( 180deg );
}

.deck .card.flipped {
    transform: rotateY( 180deg );
}

.match {
    cursor: default;
    background: #02ccba;
}

.not-match {
    cursor: default;
    background: #ca231e;
}

.time {
    letter-spacing: 0.5em;
    margin-left: 50px;;
}

.hidden {
    display: none;
}
/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.ico-won {
    color: #1aca40;
}

.ico-lost {
    color: #ca231e;
}

.result {
    border-radius: 8px;
    padding: 50px;
    background: white;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    z-index: 10;
    position: absolute;
    text-align: center;
}

button {
    border: transparent;
    background: #2e3d49;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top left, #2e3d49, #3a6073);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top left, #2e3d49, #3a6073); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border-radius: 40px;
    padding: 15px 30px;
    width: 200px;
    white-space: nowrap;
    font-size: 18px;
    margin: auto;
    transition: all 0.5s;
}

button:hover {
    width: 313px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}

#start-game {
    display: inline-block;
    transition: transform 0.5s 0.3s, opacity 0.3s 0.3s, all 0.3s 0.3s;
    text-indent: 25px;
    visibility: visible;
}

button:hover #start-game {
    -webkit-transform: translateX(-70px);
            transform: translateX(-70px);
    opacity: 0;
    text-indent: 0;
    visibility: hidden;
}

#mover {
    display: inline-block;
    visibility: hidden;
    transition: transform 0.5s 0.3s, opacity 0.3s 0.3s, all 0.3s 0.3s;
    opacity: 0;
}

button:hover #mover {
    -webkit-transform: translateX(-95px);
            transform: translateX(-95px);
    opacity: 1;
    visibility: visible;
}
